<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="cartMapper">
	<resultMap type="kh.study.shop.cart.vo.CartVO" id="cart">
		<id column="CART_CODE" 				property="cartCode"/>
		<result column="ITEM_CODE" 			property="itemCode"/>
		<result column="MEMBER_ID" 			property="memberId"/>
		<result column="CART_AMOUNT" 		property="cartAmount"/>
		<result column="REG_DATE" 			property="regDate"/>
		<result column="TOTAL_PRICE" 		property="totalPrice"/>		
		<association property="itemVO" 		resultMap="itemMapper.item"/>
		<!-- <association property="memberVO" 	resultMap="memberMapper.member"/> -->
	</resultMap>

	<!-- 장바구니 상품 추가 -->
<!-- 	<insert id="regCart">
		<selectKey resultType="String" keyProperty="cartCode" order="BEFORE">
			SELECT 'CART_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(CART_CODE, 6))), 0) + 1, 3, 0)
			FROM SHOP_CART
		</selectKey>
		
		INSERT INTO SHOP_CART(
			CART_CODE
			, ITEM_CODE
			, MEMBER_ID
			, CART_AMOUNT
			, TOTAL_PRICE
		) VALUES (
			#{cartCode}
			, #{itemCode}
			, #{memberId}
			, #{cartAmount}
			, #{cartAmount} * (SELECT ITEM_PRICE
								FROM SHOP_ITEM
								WHERE ITEM_CODE = #{itemCode})
		)
	</insert> -->
	
	<insert id="regCart"> <!-- insert, delete, update 중 아무거나 사용 가능 select만 X -->
		<selectKey resultType="String" keyProperty="cartCode" order="BEFORE">
			SELECT 'CART_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(CART_CODE, 6))), 0) + 1, 3, 0)
			FROM SHOP_CART
		</selectKey>
		
		MERGE INTO SHOP_CART
		USING DUAL 
		<!-- 기존에 있는 ITEM_CODE를 장바구니에 넣으려고 하면 UPDATE(수정) 없는 ITEM_CODE면 INSERT(추가) -->
		ON (ITEM_CODE = #{itemCode} AND MEMBER_ID = #{memberId})
		WHEN MATCHED THEN
		    UPDATE
		    SET
		    CART_AMOUNT = CART_AMOUNT + #{cartAmount} <!-- 기존에 들어있던 값 + 새로 들어온 값 -->
		    , TOTAL_PRICE = (CART_AMOUNT + #{cartAmount}) * (SELECT ITEM_PRICE
		                                            FROM SHOP_ITEM
		                                            WHERE ITEM_CODE = #{itemCode})
		    WHERE ITEM_CODE = #{itemCode}
		    AND MEMBER_ID = #{memberId}
		WHEN NOT MATCHED THEN
			INSERT (
				CART_CODE
				, ITEM_CODE
				, MEMBER_ID
				, CART_AMOUNT
				, TOTAL_PRICE
			) VALUES (
				#{cartCode}
				, #{itemCode}
				, #{memberId}
				, #{cartAmount}
				, #{cartAmount} * (SELECT ITEM_PRICE
									FROM SHOP_ITEM
									WHERE ITEM_CODE = #{itemCode})
			)
	</insert>
	
	<!-- 장바구니 목록 조회 -->
	<select id="selectCartList" resultMap="cart">
		SELECT CART_CODE
			, ITEM.ITEM_CODE
			, MEMBER_ID
			, CART_AMOUNT
			, TOTAL_PRICE
			, TO_CHAR(CART.REG_DATE, 'YYYY-MM-DD') AS REG_DATE
			, ATTACHED_NAME
			, ITEM.ITEM_NAME
			, IS_MAIN
			, ITEM_PRICE
			, CATE_NAME
		FROM SHOP_CART CART
			, SHOP_ITEM ITEM
			, ITEM_IMG IMG
			, ITEM_CATEGORY CATE
		WHERE CART.ITEM_CODE = ITEM.ITEM_CODE
		AND ITEM.CATE_CODE = CATE.CATE_CODE
		AND ITEM.ITEM_CODE = IMG.ITEM_CODE
		AND IS_MAIN = 'Y'
		AND MEMBER_ID = #{memberId}
	</select>
	
	
	<!-- 장바구니 수량 변경 -->
	<update id="updateAmount">
		UPDATE SHOP_CART
		SET
		CART_AMOUNT = #{cartAmount}
		, TOTAL_PRICE = (SELECT ITEM_PRICE
						FROM SHOP_ITEM
						WHERE ITEM_CODE = (SELECT ITEM_CODE
											FROM SHOP_CART
											WHERE CART_CODE = #{cartCode})) * #{cartAmount}
		WHERE CART_CODE = #{cartCode}
	</update>
	
	<!-- 장바구니에서 선택된 cartCode 목록 조회 -->
	<select id="selectCartCodeList" resultMap="cart">
		SELECT CART_CODE
		FROM SHOP_CART
		WHERE 
	</select>
	
	<!-- 장바구니 선택 삭제 -->
	<!-- 컨트롤러에서 cartCodes를 split으로 잘라서 cartCodeList로 만들어야 하는데..-->
	<delete id="deleteCart">
		DELETE SHOP_CART
		WHERE CART_CODE IN <!-- cartVO.getCartCodeList() -->
		<foreach collection="cartCodeList" item="cartCode" separator="," open="(" close=")">
			#{cartCode}
		</foreach>
	</delete>


</mapper>















