<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- 본 프로젝트의 모든 페이지의 layout을 구성하는 페이지 -->

<!-- th:replace는 다른 html 파일로 해당 영역을 대체한다는 의미 -->
<!-- ::의 좌측에는 불러올 html 파일의 위치와 파일명을 작성 -->
<!-- ::의 우측에는 불러오는 파일의 별칭을 작성 -->
<div th:replace="test/frag/fragment/header::header"></div>

<!--  -->
<div layout:fragment="content"></div>
<div th:replace="test/frag/fragment/footer::footer"></div>
</body>
</html>