<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="layout/admin_layout">

<th:block layout:fragment="css">
	<!--  	<link rel="stylesheet" th:href="@{}"> -->
</th:block>
<div layout:fragment="content">

	<style>
.table .searchTitle {
	background-color: #e9ecef;
}

.test td {
	padding-top: 1px;
	padding-bottom: 1px;
}

.msg {
	margin-top: -15px;
	font-weight: bold;
	color: red;
	font-size: 14px;
}
</style>

	<div class="row mb-3">
		<div class="col">
			<form th:action="@{/admin/itemManage}" method="post">
				<table class="table align-middle table-bordered text-center test">
					<colgroup>
						<col width="8%">
						<col width="8%">
						<col width="15%">
						<col width="8%">
						<col width="19%">
						<col width="8%">
						<col width="8%">
						<col width="18%">
						<col width="8%">
					</colgroup>
					<tr>
						<td rowspan="2">
							<div class="row">
								<div class="col-12"><b>검 색</b></div>
								<div class="col-12"><b>조 건</b></div>
							</div>
						</td>
						<td class="searchTitle">카테고리</td>
						<td>
							<select class="form-select" name="cateCode">
									<option value="" th:selected="${paramMap['cateCode'] eq null or paramMap['cateCode'] eq ''}">전체</option>
									<option th:each="categoryInfo : ${categoryList}"
										th:text="${categoryInfo.cateName}"
										th:value="${categoryInfo.cateCode}"
										th:selected="${paramMap['cateCode'] eq categoryInfo.cateCode}"></option>
							</select>
						</td>
						<td class="searchTitle">상품명</td>
						<td colspan="2">
							<input type="text" class="form-control" name="itemName" th:value="${paramMap['itemName']}">
						</td>
						<td class="searchTitle">재고</td>
						<td>
							<input class="form-control" type="text" name="itemStock" id="" value="" th:value="${paramMap['itemStock']}">
						</td>
						<td rowspan="2">
							<button type="submit" class="btn btn-primary" style="height: 90px;">Search</button>
						</td>
					</tr>
					<tr>
						<td class="searchTitle">등록일</td>
						<td colspan="3">
							<div class="row">
								<div class="col-6">
									<input class="form-control" type="date" name="fromDate" id="fromDate" th:value="${paramMap['fromDate']}">
								</div>
								<div class="col-6">
									<input class="form-control" type="date" name="toDate" id="toDate" th:value="${paramMap['toDate']}">
								</div>
							</div>
						</td>
						<td class="searchTitle">상태</td>
						<td colspan="2">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="itemStatus" value="" th:checked="${paramMap['itemStatus'] eq null or paramMap['itemStatus'] eq ''}">
								<label class="form-check-label" for="">전체</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="itemStatus" value="ON_SALE" th:checked="${paramMap['itemStatus'] eq 'ON_SALE'}"> <!-- paramMap에서 데이터를 받아왔는 데 그 데이터의 값이 ON_SALE일 때 -->
								<label class="form-check-label" for="">판매중</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="itemStatus" value="SOLD_OUT" th:checked="${paramMap['itemStatus'] eq 'SOLD_OUT'}">
								<label class="form-check-label" for="">매진</label>
							</div>
						</td>
					</tr>
				</table>
			</form>
		</div>

		<div class="msg">
			*재고에 입력한 개수 이하의 상품만 검색합니다.<br> ex> 재고에 10 입력 시 현재 재고가 10개 이하로 남은
			상품만 조회합니다.
		</div>
	</div>
	
	<div class="mb-3">
		<div><b>총 <span th:text="${#lists.size(itemList)}"></span>개의 상품이 검색되었습니다.</b></div>
	</div>
	</th:block>
	<div class="row mb-3">
		<div class="col">
			<table class="table table-striped table-hover text-center align-middle">
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="15%">
					<col width="10%">
					<col width="20%">
					<col width="15%">
					<col width="20%">
				</colgroup>
				<thead style="font-size: 1.1rem;">
					<tr>
						<td>No</td>
						<td>카테고리</td>
						<td>상품명</td>
						<td>가격</td>
						<td>재고</td>
						<td>등록일</td>
						<td>상태</td>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="${#lists.size(itemList) == 0}">
						<tr>
							<td colspan="7" style="text-align: center;">등록된 카테고리가 없습니다.</td>
						</tr>
					</th:block>
					<th:block th:unless="${#lists.size(itemList) == 0}">
						<tr th:each="item : ${itemList}">
							<td th:text="${itemStat.count}"></td>
							<td th:text="${item.categoryVO.cateName}"></td>
							<td th:text="${item.itemName}"></td>
							<td th:text="${item.itemPrice}"></td>
							<td>
								<div class="row g-3">
									<div class="col-8" style="margin-right: -0.5rem">
										<input type="text" class="form-control stockInput" th:value="${item.itemStock}" id="itemStock">
									</div>
									<div class="col-4">
										<button type="submit" class="btn btn-success" th:onclick="updateStock([[${item.itemCode}]], this);">변경</button>
									</div>
								</div>
							</td>
							<td th:text="${item.regDate}"></td>
							<td>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio"
										th:name="|itemStatus_${itemStat.count}|" id="" value=""
										th:checked="${item.itemStatus eq 'ON_SALE'}"
										th:onclick="changeItemStatus([[${item.itemCode}]], 'ON_SALE');">
									<label class="form-check-label" for="">판매중</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio"
										th:name="|itemStatus_${itemStat.count}|" id="" value=""
										th:checked="${item.itemStatus eq 'SOLD_OUT'}"
										th:onclick="changeItemStatus([[${item.itemCode}]], 'SOLD_OUT');">
									<label class="form-check-label" for="">매진</label>
								</div>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>
	
	<!-- 수량 변경 버튼 클릭시 실행되는 Modal -->
	<div class="modal fade" id="updateStockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
 				<!-- <div class="modal-header">
					<h5 class="modal-title fs-5" id="exampleModalLabel">재고 수량 변경 결과</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div> -->
				<div class="modal-body">
					<div class="row mb-3">
						<div class="col">
							상품 수량을 변경했습니다.
						</div>
					</div>
					<div class="row">
						<div class="col text-end">
							<button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
									style="--bs-btn-padding-y: 0.25rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;">확인</button>
						</div>
					</div>
				</div>
				<!-- <div class="modal-footer">
					<button type="button" class="btn btn-success" data-bs-dismiss="modal">확인</button>
				</div> -->
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/js/admin/item_manage.js}"></script>

</div>
</html>